<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Email</title>
</head>
<body>
    <h3>You have a message from website</h3>
    <h5>{{firstName}} {{lastName}}</h5>
    <h5>Email: {{email}}</h5>
    <h5>Telephone: {{telephone}}</h5>
    <h5>Message: {{comment}}</h5>
</body>
</html>